extends layouts/main-layout.pug

block content
    main 
        h1 This is a testing site for studying purposes only, you can see my github repo 
            a(href="https://github.com/Okub1/Node.js-udemy-course" target="_blank") here.

        if products.length > 0
            h1 My products 
            p List or all products:
            ul 
                each product in products
                    li #{product.title}

        else 
            h1 No products...